{% extends 'base.html' %}

{% block content %}
<a href="{% url 'index' %}">Back Home</a>
<br>
<a class="btn btn-default" href="{% url 'stractic:resource_edit' resource_id=resource.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>

<h2>About This Resource</h2>
<ul>
	<li>{{ resource.resource_name }}</li>
	<li>{{ resource.resource_url }}</li>
	<li>{{ resource.resource_description }}</li>
</ul>

<h2>Comments on {{ resource.resource_name }}</h2>

<h4>Add a Comment</h4>
<p>stractic template</p>
<form method="post" action="">
    {{ formset.management_form }}
    {% for form in formset %}
        {% for field in form %}
            {{ field.label_tag }} {{ field }}
        {% endfor %}
    {% endfor %}
</form>

<ul>
{% for favorite in resource.favorite_set.all %}
    <li>{{ favorite.comments }}</li>
{% endfor %}
</ul>



{% endblock %}