{% extends 'base.html' %}

{% block content %}
<ul>
	<li>{{ resource.resource_name }}</li>
	<li>{{ resource.resource_url }}</li>
	<li>{{ resource.resource_description }}</li>
</ul>

<h1>{{ resource.resource_description }}</h1>
<ul>
{% for favorite in resource.favorite_set.all %}
    <li>{{ favorite.comments }}</li>
{% endfor %}
</ul>


<form action="{% url 'stractic:vote' resource.id %}" method="post">
{% csrf_token %}
{% for favorite in resource.favorite_set.all %}
    <input type="radio" name="favorite" id="favorite{{ forloop.counter }}" value="{{ favorite.id }}" />
    <label for="choice{{ forloop.counter }}">Favorite?</label><br />
{% endfor %}
<input type="submit" value="Save as Favorite" />
</form>

{% endblock %}