{% extends 'base.html' %}

{% load static %}

{% block body %}

	<form method="post" novalidate>
		{% csrf_token %}
		{% include 'includes/form.html' %}
		{% if form.non_field_errors %}
			<div class="alert alert-danger" role="alert">
			{% for error in form.non_field_errors %}
				<p{% if forloop.last %} class="mb-0"{% endif %}>{{ error }}</p>
			{% endfor %}
			</div>
		{% endif %}
    <input type="hidden" name="next" value="{{ next }}" />
    <input class="btn btn-primary" type="submit" value="Submit"/>
    </form>


    Don't have an account? <a href="{% url 'signup' %}">Sign Up</a>


{% endblock %}